body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.jumbotron {
  background: url(../asset/jumbotron.jpg);
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.jumbotron__content {
  margin-top: -80px;
  text-align: center;
  width: 60%;
  position: relative;
  z-index: 2;
}

.jumbotron__content h1,
.jumbotron__content p,
.jumbotron__content button {
  color: white;
}

.jumbotron__content h1 {
  font-size: 50px;
  font-family: 'Montserrat';
}

.jumbotron__content p {
  font-size: 16px;
}

.jumbotron__content button {
  padding: 10px 20px;
  background: none;
  border: 2px solid white;
  font-family: 'Poppins';
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  font-weight: 500;
  outline: none;
}

.jumbotron__content button:hover {
  background: white;
  color: black;
}

.jumbotron__content button:active {
  background: none;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section.best-products {
  margin: 80px 0;
}

section.best-products h2 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

section.best-products h2 span {
  color: #CE071D;
}

section.best-products h2.fade-in,
section.best-products p.fade-in {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section.best-products p {
  -webkit-transition: .9s ease;
  transition: .9s ease;
  opacity: 0;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  color: #868686;
  margin-bottom: 50px;
}

section.best-products .product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

section.best-products .product .product__image {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

section.best-products .product .product__image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.best-products .product .product__image img {
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  width: 100%;
}

section.best-products .product #image-1,
section.best-products .product #image-2,
section.best-products .product #image-3 {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

section.best-products .product #image-1.show-up {
  -webkit-transition: .4s ease 1s;
  transition: .4s ease 1s;
}

section.best-products .product #image-2.show-up {
  -webkit-transition: .4s ease 1.3s;
  transition: .4s ease 1.3s;
}

section.best-products .product #image-3.show-up {
  -webkit-transition: .4s ease 1.6s;
  transition: .4s ease 1.6s;
}

section.best-products .product #image-1.show-up,
section.best-products .product #image-2.show-up,
section.best-products .product #image-3.show-up {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */